<!--
Inside your burger directory, create a folder named views.
- Create the index.handlebars file inside views directory.
- Create the layouts directory inside views directory.
- Create the main.handlebars file inside layouts directory.
- Setup the main.handlebars file so it's able to be used by Handlebars.
- Setup the index.handlebars to have the template that Handlebars can render onto.
- Create a button in index.handlebars that will submit the user input into the database.
-->
<div class="container">
    <div class='row'>
        <div class='col-lg-12 text-center' id='burger-image'>
            <h1>Eat-Da-Burger!</h1>
            <img src='/public/assets/images/burger1.png' />
        </div>
    </div>
</div>