#burger-image {
    font-family: 'Wendy One', sans-serif;
}

h1 {
    font-size: 60px;
}

p {
    font-family: 'Wendy One', sans-serif;
}

h4 {
    font-family: 'Wendy One', sans-serif;
}

body {
    background-color: #FFD620;
}

button.btn-primary {
    background-color: #FF1F14;
    border-color: #FF1F14;
}